@font-face {
  font-family: lulo-clean-bold;
  src: url(../assets/fonts/lulo-clean-bold.otf);
}
@font-face {
  font-family: futura;
  src: url(../assets/fonts/futura-light.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: 'sans-serif';
  font-size: 62.5%;
}
body {
  color: #000;
  background-color: #f2f3f4;
  font-weight: 400;
  line-height: 3rem;
  box-sizing: border-box;
  margin: auto;
}
header {
  text-align: center;
  height: 100vh;
  font-size: 2.1rem;
}
main {
  justify-content: center;
  align-items: center;
  width: 90rem;
  margin: auto;
}
footer {
  background-color: #002e5d;
  height: 30vh;
  font-size: 2rem;
  color: white;
  padding: 3rem 0 3rem 1rem;
}
/* Header */
.header__logo-box {
  display: flex;
  height: 20vh;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.header__banner {
  display: flex;
  flex-direction: column;
}
.header__content {
  height: 27vh;
  text-align: left;
  margin-left: 5rem;
  width: 50%;
}
.header__image {
  height: 53vh;
}
.header__logo-image {
  height: 12rem;
}
.header__logo-name {
  height: 5rem;
  margin-bottom: 1rem;
}
.header__heading-main {
  font-weight: bold;
  font-size: 6rem;
  padding: 3rem 0 2rem 0;
}
.header__heading-sub {
  font-size: 2.2rem;
  padding: 1rem 0 1rem 0;
}
.header__button-start {
  width: 25rem;
  font-size: 2.6rem;
  position: absolute;
  left: 5rem;
  top: 47vh;
  padding: 0.6rem;
  transform: translateY(-50%);
  border-radius: 5px;
  background-color: green;
  color: white;
}
.header__button-start:hover {
  cursor: pointer;
  filter: brightness(1.25);
}
.header__banner .hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}
/* End Header */
/* Feature */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__box--big {
  position: relative;
  height: 50rem;
  width: 100rem;
  overflow: hidden;
  backface-visibility: hidden;
  margin: 2rem 0 2rem 0;
  border-radius: 2rem;
}

.feature__intro {
  text-align: center;
  line-height: 6rem;
  margin: 10rem;
}
.feature__intro-main {
  font-size: 6rem;
}
.feature__intro-sub {
  font-size: 2.6rem;
  color: #75808a;
}
.feature__intro-description {
  font-size: 2rem;
}

.feature__description {
  font-family: 'Lucida Sans Unicode';
  width: 36rem;
  color: white;
  position: absolute;
  left: 4rem;
  bottom: 40%;
  word-break: break-word;
}
.feature__description-main {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.feature__description-sub {
  font-size: 2rem;
}
.feature__image {
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  transform-origin: right bottom;
}
.feature__image:hover {
  transform: scale(1.06);
}
.feature__button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  left: 2rem;
  bottom: 3rem;
  color: white;
  font-size: 2.2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.feature__image:hover ~ .feature__button {
  background-color: blue;
}
/* feature__details */
.feature__box--small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60rem;
  width: 100rem;
}
.feature__box-left {
  flex: 1;
  width: 55rem;
  height: 60rem;
  position: relative;
  border-radius: 2rem;
  margin-right: 2rem;
  overflow: hidden;
}
.feature__box--right {
  flex: 1;
  position: relative;
  width: 40rem;
  height: 60rem;
  border-radius: 2rem;
  overflow: hidden;
}
.feature__image--small {
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  object-fit: cover;
  object-position: bottom;
}
.feature__image--small:hover {
  transform: scale(1.08);
}
.feature__description--small {
  font-family: 'Segoe UI';
  color: #000;
  position: absolute;
  top: 0;
  padding: 4rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
}

.feature__button--blue {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  left: 2rem;
  bottom: 3rem;
  color: blue;
  font-size: 2.2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.feature__button--black {
  background-color: black;
  cursor: pointer;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.8rem;
  padding: 0.6rem 1.5rem;
  border-radius: 1rem;
}
.feature__image--small:hover ~ .feature__button--blue {
  background-color: blue;
  color: white;
}

/* End Feature */
/* Footer */
.footer-box {
  width: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
.footer__team-name {
  font-size: 4rem;
  font-weight: bold;
  font-family: futura;
  flex: 0 0 50%;
  line-height: 5rem;
}
.footer__team-info {
  flex: 0 0 50%;
  font-family: 'Lucida Sans Unicode', sans-serif;
}
/* End Footer */
/* animated */
.animated {
  overflow: hidden;
}
.come-in {
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  /* animation: none; */
}
.fadeIn {
  animation: fadeIn 1s ease-out;
}
@keyframes come-in {
  to {
    transform: translateY(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
